{% extends "base/base.html" %}
{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'account/accountBasestyle.css' %}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
 
    // Google Identity script only loads for signed-out users.
    //Prevents Google Sign-In UI from appearing for authenticated users.
{% if not user.is_authenticated %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endif %}

{% block accHead %}
<title>Chesapeake Community Connect - Contributors</title>
{% endblock accHead %}

{% endblock head %}


{% block content %}
<div id="body" role="main">


    {% if user.is_authenticated and rank > 0 %}
        <ul class="menu" role="navigation">

            <li>
                <a href="{% url 'account:account_list' %}"
                   {% if '/view/' in request.path %}
                       style="background-color: #e67e22; color: #00205c;"
                   {% endif %}>
                    <i class='bx bx-search-alt'></i>
                    <span>Search Contributors</span>
                </a>
            </li>

            <li>
                <a href="{% url 'account:create_forum' %}"
                   {% if '/create/' in request.path %}
                       style="background-color: #e67e22; color: #00205c;"
                   {% endif %}>
                    <i class='bx bx-message-square-add'></i>
                    <span>Create Forum</span>
                </a>
            </li>

            <li>
                <a class="button_CCC" href="{% url 'account:my_forums' %}"
                   {% if '/myforums/' in request.path %}
                       style="background-color: #e67e22; color: #00205c;"
                   {% endif %}>
                    My Forums
                </a>
            </li>

            <li>
                <a href="{% url 'account:default' %}"
                   {% if '/contribute/' in request.path and '/view/' not in request.path and '/create/' not in request.path and '/myforums/' not in request.path %}
                       style="background-color: #e67e22; color: #00205c;"
                   {% endif %}>
                    <i class='bx bxs-user-account'></i>
                    <span>My Account</span>
                </a>
            </li>

            <li>
                <form action="{% url 'account:signout' %}" method="post">
                    {% csrf_token %}
                    <button>
                        <i class='bx bx-log-out'></i>
                        Sign Out
                    </button>
                </form>
            </li>

        </ul>

        <div id="right">

    {% else %}

        <div>

    {% endif %}

            //Page-specific content injected here by child templates.
            {% block accountFunc %}
                Welcome to the account interface.
            {% endblock accountFunc %}

        </div>  {# closes <div id="right"> OR <div> #}

</div>


<script>
  // Smooth accordion script (unchanged)
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
          } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
          }
      });
  }
</script>


{% if not user.is_authenticated %}
    <div id="g_id_signin"></div>
{% endif %}

{% endblock content %}
