{% extends "account/accountBase.html" %}

{# 
    accountFunc is the main content block for account pages.
    Everything inside this block replaces the placeholder in accountBase.html.
#}
{% block accountFunc %}

{# Button to view Google login information (new feature) #}
<p>
    <a class="button is-link" href="{% url 'account:google_info' %}">
        View Google Login Info
    </a>
</p>

{# 
    Inline CSS for the account page layout.
    This controls the profile card, image styling, and text formatting.
#}
<style>
    .wrapper {
        float: right;
        border: solid;
        border-width: 2px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        min-width: 300px;
        width: 300px;
        min-height: 600px;
        margin-top: 15px;
        margin-right: 15px;
        border-radius: 5px;
    }

    .proPic {
        margin: 10px 15px 15px 0px;
        width: 250px;
        height: 250px;
        border-radius: 4px;
    }

    .imgWrapper {
        text-align: center;
    }

    .inWrapper {
        text-align: left;
        margin-left: 10px;
    }

    .editPro {
        border: none;
        background-color: #f3f3f3;
        margin-top: 5px;
        margin-left: 5px;
        float: left;
        text-align: left;
        font-size: 16px;
        color: blue;
    }

    .editPro:hover {
        cursor: pointer;
    }

    .buttonHolder {
        min-width: 200px;
        min-height: 50px;
    }

    .description {
        margin-left: 13px;
        margin-right: 13px;
        text-align: left;
    }
</style>

{# 
    Main content wrapper.
    Contains the user's profile picture, name, email, and description.
#}
<div id="content">
    <div class="wrapper">

        {# Profile picture section #}
        <div class="imgWrapper">
            <li>
                <img class="proPic" src="{{ image.url }}" alt="Uploaded Image" height="150" width="150">
            </li>
        </div>

        {# User's name and email, passed from the view #}
        <div class="inWrapper">
            {{ name }}<br>
            {{ email }}<br>
        </div>

        {# Button to edit account details #}
        <div class="buttonHolder">
            <button class="editPro" id="edit-account"
                onclick="window.location.href='{% url 'account:manage' %}';">
                Edit Account Details
            </button>
        </div>

        {# User description and rank-based message #}
        <div class="description">

            {# Show "about" text only if it exists #}
            {% if about != "" %}
                <p>{{ about }}</p>
            {% endif %}

            {# Show trusted user message if rank > 1 #}
            {% if rank > 1 %}
                <p>You are a trusted user.</p>
            {% endif %}
        </div>

    </div>
</div>

{% endblock accountFunc %}
