<a class="signup-modal-trigger nav-link" data-target="signup-modal" > Sign Up </a>
<script src="https://accounts.google.com/gsi/client" async defer></script>

<div id="g_id_onload"
     data-client_id="576673334850-uflf8tdq48pirq1bmp9r3fjl8ruf5a61.apps.googleusercontent.com"
     data-callback="handleCredentialResponse"
     data-auto_select="false"
     data-login_uri="http://127.0.0.1:8080/contribute/google-signin/">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin"
     data-size="large"
     data-logo_alignment="left">
</div>


<script>
function handleCredentialResponse(response) {
  $.ajax({
    url: "/contribute/google-signin/",
    type: "POST",
    data: {
      credential: response.credential,
      csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
    },
    success: function(response) {
      location.reload(true);
    },
    error: function() {
      alert("Google Sign-In failed.");
    }
  });
}
</script>


<div id="signup-modal" class="modal">
    {% csrf_token %}
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-left">Sign Up</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                {% comment %} <label class="label">Username</label> {% endcomment %}
                <div class="control">
                    <input class="testy input" type="text" name="username" id="signup_username" placeholder="Username">
                </div>
                <p class="help" id="signup_username_helper"></p>
            </div>
            <div class="field">
                {% comment %} <label class="label">Email</label> {% endcomment %}
                <div class="control">
                    <input class="input" type="email" name="email" id="signup_email" placeholder="Email">
                </div>
                <p class="help" id="signup_email_helper"></p>
            </div>
            <div class="field">
                {% comment %} <label class="label">Password</label> {% endcomment %}
                <div class="control">
                    <input class="input" type="password" name="password" id="signup_password" placeholder="Password">
                </div>
                <p class="help" id="signup_password_helper"></p>
            </div>
            <div class="field">
                {% comment %} <label class="label">Confirm Password</label> {% endcomment %}
                <div class="control">
                    <input class="input" type="password" name="password" id="signup_confirm_password" placeholder="Confirm Password">
                </div>
                <p class="help" id="signup_confirm_password_helper"></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="control">
                <button type="submit" class="button is-link" id="signup" disabled>Sign Up</button>
                <button type="button" class="button is-danger sign-in-up-cancel">Cancel</button>
            </div>
            <br>
            <div class="control">
                {% comment %} google sign in button is rendered here {% endcomment %}
               <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                    data-text="signin" data-size="large" data-logo_alignment="left">
                </div>
            </div>
        </footer>
    </div>
</div>


<script>

    let signup_username = document.getElementById("signup_username");
    let signup_username_helper = document.getElementById("signup_username_helper");
    var signup_usernameIsValid = false;
    // Only allow letters, numbers, and @ . + - _
    const signup_usernameRegex = /^[A-Za-z0-9.@+\-_]+$/;

    let signup_email = document.getElementById("signup_email");
    let signup_email_helper = document.getElementById("signup_email_helper");
    // The following line checks if the email: 
    // 1. Starts with a valid local part consisting of letters, digits, dots, underscores, or hyphens; 
    // 2. Contains a single '@'; 
    // 3. Has a valid domain name with letters, digits, dots, or hyphens;
    // 4. Ends with a top-level domain (like .com, .org) that is 2-6 letters long
    const signup_emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
    var signup_emailIsValid = false;

    let signup_password = document.getElementById("signup_password");
    let signup_password_helper = document.getElementById("signup_password_helper");
    var signup_passwordIsValid = false;

    let signup_confirm_password = document.getElementById("signup_confirm_password");
    let signup_confirm_password_helper = document.getElementById("signup_confirm_password_helper");
    var signup_confirm_passwordIsValid = false;

    // The following line checks if the password:
    // 1. Contains at least one lowercase letter
    // 2. Contains at least one uppercase letter.
    // 3. Contains at least one numeric digit.
    // 4. Contains at least one special character from the set @$!%*#?&().
    // 5. Is at least 8 characters long.
    const signup_passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&()])[A-Za-z\d@$!%*#?&()]{8,}$/;
    // The following line checks if the password contains at least one lowercase letter.
    const signup_passwordHasLowerCaseRegex = /[a-z]/;
    // The following line checks if the password contains at least one uppercase letter.
    const signup_passwordHasUpperCaseRegex = /[A-Z]/;
    // The following line checks if the password contains at least one numeric digit.
    const signup_passwordHasDigitRegex = /\d/;
    // The following line checks if the password contains at least one special character.
    const signup_passwordHasSpecialCharacterRegex = /[@$!%*#?&()]/;
    // The following line checks if the password is at least 8 characters long.
    const signup_passwordMinLengthRegex = /^.{8,}$/;
    let submit_button = document.getElementById("signup");
    
    $("#signup_username").change(function (e) {
    if ($(signup_username).val() == "") {
        signup_username.classList.remove("is-danger");
        signup_username_helper.classList.remove("is-danger");
        signup_username.classList.remove("is-link");
        signup_username_helper.classList.remove("is-link");
        signup_username_helper.textContent = "";
        signup_usernameIsValid = false;
        submit_button.disabled = true;
    } else {
        $.ajax({
            type: "GET",
            url: "{% url 'account:username_validation' %}",
            data: {
                username: $(signup_username).val(),
            },
            success: function (data) {
                if (data.is_taken) {
                    signup_username.classList.add("is-danger");
                    signup_username.classList.remove("is-link");
                    signup_username_helper.classList.add("is-danger");
                    signup_username_helper.classList.remove("is-link");
                    signup_username_helper.textContent = "That username is taken.";
                    signup_usernameIsValid = false;
                    submit_button.disabled = true;
                } else {
                    signup_username.classList.remove("is-danger");
                    signup_username.classList.add("is-link");
                    signup_username_helper.classList.remove("is-danger");
                    signup_username_helper.classList.add("is-link");
                    signup_username_helper.textContent = "That username is available.";
                    signup_usernameIsValid = true;
                    allIsValid();
                }
            }
        });
    }
});
    $("#signup_email").change(function (e) {

        if ($(signup_email).val() == "") {
            signup_email.classList.remove("is-danger");
            signup_email_helper.classList.remove("is-danger");
            signup_email.classList.remove("is-link");
            signup_email_helper.classList.remove("is-link");
            signup_email_helper.textContent = "";
            signup_emailIsValid = false;
            submit_button.disabled = true;
        } else if (signup_emailRegex.test($(signup_email).val())) {
            $.ajax({
                type: "GET",
                url: "{% url 'account:email_validation' %}",
                data: {
                    email: $(signup_email).val(),
                },
                success: function (data) {
                    
                    if (data.is_taken) {
                        signup_email.classList.add("is-danger");
                        signup_email.classList.remove("is-link");
                        signup_email_helper.classList.add("is-danger");
                        signup_email_helper.classList.remove("is-link");
                        signup_email_helper.textContent = "That email is already being used.";
                        signup_emailIsValid = false;
                        submit_button.disabled = true;
                    } else {
                        signup_email.classList.remove("is-danger");
                        signup_email.classList.add("is-link");
                        signup_email_helper.classList.remove("is-danger");
                        signup_email_helper.classList.add("is-link");
                        signup_email_helper.textContent = "That email is available.";
                        signup_emailIsValid = true;
                        allIsValid();
                    }
                }
            });
        } else {
            signup_email.classList.add("is-danger");
            signup_email.classList.remove("is-link");
            signup_email_helper.classList.add("is-danger");
            signup_email_helper.classList.remove("is-link");
            signup_email_helper.textContent = "That email is invalid.";
            signup_emailIsValid = false;
            submit_button.disabled = true;
        }
    });
    $("#signup_password").change(function (e) {

        if ($(signup_password).val() == "") {
            signup_password.classList.remove("is-danger");
            signup_password_helper.classList.remove("is-danger");
            signup_password.classList.remove("is-link");
            signup_password_helper.classList.remove("is-link");
            signup_password_helper.textContent = "";
            signup_passwordIsValid = false;
            submit_button.disabled = true;
        } else if (signup_passwordRegex.test($(signup_password).val())) {
            signup_password.classList.remove("is-danger");
            signup_password.classList.add("is-link");
            signup_password_helper.classList.remove("is-danger");
            signup_password_helper.classList.add("is-link");
            signup_password_helper.textContent = "That password is valid.";
            signup_passwordIsValid = true;
            confirm_signup_password_update();
            allIsValid();
        } else {
            signup_password.classList.add("is-danger");
            signup_password.classList.remove("is-link");
            signup_password_helper.classList.add("is-danger");
            signup_password_helper.classList.remove("is-link");
            signup_password_helper.textContent = "That password is invalid. Passwords must contain the following:";
            if (!(signup_passwordHasLowerCaseRegex.test($(signup_password).val()))) {
                signup_password_helper.textContent += "\nA lower case character"
            }
            if (!(signup_passwordHasUpperCaseRegex.test($(signup_password).val()))) {
                signup_password_helper.textContent += "\nAn upper case character"
            }
            if (!(signup_passwordHasDigitRegex.test($(signup_password).val()))) {
                signup_password_helper.textContent += "\nA number"
            }
            if (!(signup_passwordHasSpecialCharacterRegex.test($(signup_password).val()))) {
                signup_password_helper.textContent += "\nA special character such as @,$,!,%,*,#,?,&,(,)"
            }
            if (!(signup_passwordMinLengthRegex.test($(signup_password).val()))) {
                signup_password_helper.textContent += "\nAt least 8 characters"
            }
            signup_passwordIsValid = false;
            confirm_signup_password_update();
            submit_button.disabled = true;
        }
    });

    
    $("#signup_confirm_password").change(function (e) {
        confirm_signup_password_update();
    });
    function confirm_signup_password_update() {
        if ($(signup_confirm_password).val() == "" || !signup_passwordRegex.test($(signup_password).val())) {
            signup_confirm_password.classList.remove("is-danger");
            signup_confirm_password_helper.classList.remove("is-danger");
            signup_confirm_password.classList.remove("is-link");
            signup_confirm_password_helper.classList.remove("is-link");
            signup_confirm_password_helper.textContent = "";
            signup_confirm_passwordIsValid = false;
            submit_button.disabled = true;
        } else if ($(signup_confirm_password).val() == $(signup_password).val()) {
            signup_confirm_password.classList.remove("is-danger");
            signup_confirm_password.classList.add("is-link");
            signup_confirm_password_helper.classList.remove("is-danger");
            signup_confirm_password_helper.classList.add("is-link");
            signup_confirm_password_helper.textContent = "The passwords match.";
            signup_confirm_passwordIsValid = true;
            allIsValid();
        } else {
            signup_confirm_password.classList.add("is-danger");
            signup_confirm_password.classList.remove("is-link");
            signup_confirm_password_helper.classList.add("is-danger");
            signup_confirm_password_helper.classList.remove("is-link");
            signup_confirm_password_helper.textContent = "The passwords don't match.";
            signup_confirm_passwordIsValid = false;
            submit_button.disabled = true;
        }
    }
    function allIsValid() {
        if (signup_usernameIsValid && signup_emailIsValid && signup_passwordIsValid && signup_confirm_passwordIsValid) {
            submit_button.disabled = false;
        }
    }

    $("#signup-modal").on("click", "#signup", function (e) {
        
        e.preventDefault();
        $.ajax({
             url: "{% url 'account:signup' %}",
            type: "POST",
            data: {
                username: $(signup_username).val(),
                email: $(signup_email).val(),
                password1: $(signup_password).val(),
                password2: $(signup_confirm_password).val(),
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            },
            success:function(response) {
                location.reload(true);
            }
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
          $el.classList.add('is-active');
        }
      
        function closeModal($el) {
          $el.classList.remove('is-active');
          signup_username.classList.remove("is-danger");
          signup_username_helper.classList.remove("is-danger");
          signup_username.classList.remove("is-link");
          signup_username_helper.classList.remove("is-link");
          signup_username.value = "";
          signup_username_helper.textContent = "";
          signup_usernameIsValid = false;

          signup_email.classList.remove("is-danger");
          signup_email_helper.classList.remove("is-danger");
          signup_email.classList.remove("is-link");
          signup_email_helper.classList.remove("is-link");
          signup_email.value = "";
          signup_email_helper.textContent = "";
          signup_emailIsValid = false;

          signup_password.classList.remove("is-danger");
          signup_password_helper.classList.remove("is-danger");
          signup_password.classList.remove("is-link");
          signup_password_helper.classList.remove("is-link");
          signup_password.value = "";
          signup_password_helper.textContent = "";
          signup_passwordIsValid = false;

          signup_confirm_password.classList.remove("is-danger");
          signup_confirm_password_helper.classList.remove("is-danger");
          signup_confirm_password.classList.remove("is-link");
          signup_confirm_password_helper.classList.remove("is-link");
          signup_confirm_password.value = "";
          signup_confirm_password_helper.textContent = "";
          signup_confirm_passwordIsValid = false;

          submit_button.disabled = true;
        }
      
        function closeAllModals() {
          (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
          });
        }
      
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.signup-modal-trigger') || []).forEach(($trigger) => {
          const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);
      
          $trigger.addEventListener('click', () => {
            openModal($target);
          });
        });
      
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .sign-in-up-cancel') || []).forEach(($close) => {
          const $target = $close.closest('.modal');
      
          $close.addEventListener('click', () => {
            closeModal($target);
          });
        });
      
        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
          if(event.key === "Escape") {
            closeAllModals();
          }
        });
      });
</script>